
.hello{
    display: flex;
    flex-direction: row;
    z-index: 1;
    margin: 2rem;
}

.hello h1 {
    color: #373737;
    z-index: 1;
}

.hello h2 {
    color: #373737;
    z-index: 1;
}

.about-me{
    flex-direction: row;
    justify-content: flex-start;
}