/* MOBILE */
html{
    font-size:14px;
  }

  .
  /* TABLET */
  @media only screen and (min-width: 480px) {
    html{
        font-size:16px;
    }
  }
  /* DESKTOP */
  @media only screen and (min-width: 768px) {
    html{
        font-size:18px;
    }
  }
  /* X-LARGE */
  @media only screen and (min-width: 1024px) {
    html{
        font-size:20px;
    }
  }
  
  @import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,900');
  
  .project-page{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 3rem;
    z-index: 1;
    }

.project {
    width: 150vh;
    height: auto;
    background: white;
    border-radius: 30px;
    box-shadow: 0px 0px 25px rgb(130,130,130,0.5);
    z-index: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: 2rem;
    }

    @media only screen and (max-width: 768px) {
        .project {
          flex-direction: column;
          padding: 10px;
          margin: 1rem;
        }
      }
    
    h1 {
      font-family: 'Poppins';
      font-size: 1.5em;
      color: #236F71;
      margin: 0.3em;
      margin-right: 1rem;
    }
    
    h2{
      font-family: 'Poppins';
      font-weight: 400;
      font-size: .75rem;
      color: #828282;
      margin: 0.3rem;
      margin-right: 1rem;
    }
    
    .project-text ul {
      font-family: 'Poppins';
      font-weight: 400;
      font-size: 1rem;
      color: #828282;
      margin: 0px;
      text-overflow: ellipsis;
      margin-right: 1rem;
    }
    
    img {
        height:15rem; 
        object-fit:scale-down;
        border-radius: 30px;
        margin-right: 1rem;
    }
